section {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    height: 100vh;
}
.box1 {
    width: 8rem;
    height: 8rem;
    background: rgb(186, 24, 24);
    border-radius: 0.5rem;
}
.box2 {
    width: 8rem;
    height: 8rem;
    background: rgb(188, 71, 20);
    border-radius: 0.5rem;
}
.box3 {
    width: 8rem;
    height: 8rem;
    background: rgb(188, 121, 20);
}

.box4 {
    width: 8rem;
    height: 8rem;
    background: rgb(188, 163, 20);
}

.box5 {
    width: 8rem;
    height: 8rem;
    background: rgb(166, 188, 20);
}